@import url('https://fonts.googleapis.com/css?family=Mulish&display=swap');

*{
    box-sizing:border-box;
}

body{
    font-family:'Mulish';
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
    margin:0;
}

.container{
    display:flex;
}

span{
    font-weight:bold;
    font-size:30px;
    margin:0 2px;
}
